USE [NovaBank]
GO
/****** Object:  View [dbo].[vw_summary_overview]    Script Date: 24/05/2026 10:07:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- vw_summary_overview
-- KPIs tổng quan + phân bố default theo grade, intent, country
-- ============================================================
CREATE   VIEW [dbo].[vw_summary_overview] AS

-- ── Block 1: KPI tổng thể ────────────────────────────────────
SELECT
    'KPI_OVERALL'                               AS report_block,
    COUNT(*)                                    AS total_loans,
    SUM(CAST(loan_status AS INT))               AS total_defaults,
    CAST(
        100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*)
    AS DECIMAL(6,2))                            AS default_rate_pct,
    SUM(loan_amnt)                              AS total_loan_amount,
    AVG(loan_amnt)                              AS avg_loan_amount,
    AVG(loan_int_rate)                          AS avg_interest_rate,
    SUM(estimated_interest)                     AS total_estimated_interest,
    SUM(estimated_loss)                         AS total_estimated_loss,
    NULL                                        AS dimension_value,
    NULL                                        AS sub_dimension
FROM dbo.vw_loan_enriched

UNION ALL

-- ── Block 2: Default Rate theo Loan Grade ────────────────────
SELECT
    'BY_GRADE',
    COUNT(*),
    SUM(CAST(loan_status AS INT)),
    CAST(100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*) AS DECIMAL(6,2)),
    SUM(loan_amnt),
    AVG(loan_amnt),
    AVG(loan_int_rate),
    SUM(estimated_interest),
    SUM(estimated_loss),
    loan_grade,
    grade_risk_label
FROM dbo.vw_loan_enriched
GROUP BY loan_grade, grade_risk_label

UNION ALL

-- ── Block 3: Default Rate theo Loan Intent ───────────────────
SELECT
    'BY_INTENT',
    COUNT(*),
    SUM(CAST(loan_status AS INT)),
    CAST(100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*) AS DECIMAL(6,2)),
    SUM(loan_amnt),
    AVG(loan_amnt),
    AVG(loan_int_rate),
    SUM(estimated_interest),
    SUM(estimated_loss),
    loan_intent,
    NULL
FROM dbo.vw_loan_enriched
GROUP BY loan_intent

UNION ALL

-- ── Block 4: Default Rate theo Country ───────────────────────
SELECT
    'BY_COUNTRY',
    COUNT(*),
    SUM(CAST(loan_status AS INT)),
    CAST(100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*) AS DECIMAL(6,2)),
    SUM(loan_amnt),
    AVG(loan_amnt),
    AVG(loan_int_rate),
    SUM(estimated_interest),
    SUM(estimated_loss),
    country,
    NULL
FROM dbo.vw_loan_enriched
GROUP BY country

UNION ALL

-- ── Block 5: Phân bố Default vs Non-Default ──────────────────
SELECT
    'BY_STATUS',
    COUNT(*),
    SUM(CAST(loan_status AS INT)),
    CAST(100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*) AS DECIMAL(6,2)),
    SUM(loan_amnt),
    AVG(loan_amnt),
    AVG(loan_int_rate),
    SUM(estimated_interest),
    SUM(estimated_loss),
    loan_status_label,
    NULL
FROM dbo.vw_loan_enriched
GROUP BY loan_status_label;
GO
