USE [NovaBank]
GO
/****** Object:  View [dbo].[vw_summary_country]    Script Date: 24/05/2026 10:07:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- vw_summary_country
-- So sánh US, UK, Canada theo nhiều chiều
-- ============================================================
CREATE   VIEW [dbo].[vw_summary_country] AS

-- ── KPI theo từng quốc gia ───────────────────────────────────
SELECT
    'COUNTRY_KPI'               AS segment,
    country                     AS dim1,
    NULL                        AS dim2,
    COUNT(*)                    AS total_loans,
    SUM(CAST(loan_status AS INT)) AS total_defaults,
    CAST(100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*) AS DECIMAL(6,2)) AS default_rate_pct,
    AVG(loan_amnt)              AS avg_loan_amount,
    SUM(loan_amnt)              AS total_loan_amount,
    AVG(loan_int_rate)          AS avg_interest_rate,
    AVG(debt_to_income_ratio)   AS avg_dti,
    AVG(person_income)          AS avg_income,
    AVG(CAST(loan_term_months AS FLOAT)) AS avg_term_months,
    SUM(estimated_loss)         AS total_estimated_loss
FROM dbo.vw_loan_enriched
GROUP BY country

UNION ALL

-- ── Default Rate theo Country × Loan Grade ───────────────────
SELECT
    'COUNTRY_X_GRADE',
    country,
    loan_grade,
    COUNT(*),
    SUM(CAST(loan_status AS INT)),
    CAST(100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*) AS DECIMAL(6,2)),
    AVG(loan_amnt),
    SUM(loan_amnt),
    AVG(loan_int_rate),
    AVG(debt_to_income_ratio),
    AVG(person_income),
    AVG(CAST(loan_term_months AS FLOAT)),
    SUM(estimated_loss)
FROM dbo.vw_loan_enriched
GROUP BY country, loan_grade

UNION ALL

-- ── Default Rate theo Country × Loan Intent ──────────────────
SELECT
    'COUNTRY_X_INTENT',
    country,
    loan_intent,
    COUNT(*),
    SUM(CAST(loan_status AS INT)),
    CAST(100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*) AS DECIMAL(6,2)),
    AVG(loan_amnt),
    SUM(loan_amnt),
    AVG(loan_int_rate),
    AVG(debt_to_income_ratio),
    AVG(person_income),
    AVG(CAST(loan_term_months AS FLOAT)),
    SUM(estimated_loss)
FROM dbo.vw_loan_enriched
GROUP BY country, loan_intent

UNION ALL

-- ── Distribution Employment Type theo Country ────────────────
SELECT
    'COUNTRY_X_EMPLOYMENT',
    country,
    employment_type,
    COUNT(*),
    SUM(CAST(loan_status AS INT)),
    CAST(100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*) AS DECIMAL(6,2)),
    AVG(loan_amnt),
    SUM(loan_amnt),
    AVG(loan_int_rate),
    AVG(debt_to_income_ratio),
    AVG(person_income),
    AVG(CAST(loan_term_months AS FLOAT)),
    SUM(estimated_loss)
FROM dbo.vw_loan_enriched
GROUP BY country, employment_type;
GO
