USE [NovaBank]
GO
/****** Object:  View [dbo].[vw_scatter_data]    Script Date: 24/05/2026 10:07:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- vw_scatter_data
-- Dữ liệu cấp độ khoản vay để vẽ scatter plot trong Power BI
-- Giới hạn cột để tối ưu import
-- ============================================================
CREATE   VIEW [dbo].[vw_scatter_data] AS
SELECT
    client_ID,
    person_income,
    loan_amnt,
    loan_int_rate,
    debt_to_income_ratio,
    credit_utilization_ratio,
    loan_grade,
    loan_intent,
    loan_status_label,
    risk_category,
    early_warning_score,
    country,
    age_group,
    income_group
FROM dbo.vw_loan_enriched;
GO
