USE [NovaBank]
GO
/****** Object:  View [dbo].[vw_summary_financial]    Script Date: 24/05/2026 10:07:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- vw_summary_financial
-- DTI, Credit Utilization, Loan-to-Income vs Default
-- ============================================================
CREATE   VIEW [dbo].[vw_summary_financial] AS

-- ── Theo nhóm DTI ────────────────────────────────────────────
SELECT
    'BY_DTI'                    AS segment,
    dti_group                   AS dimension_value,
    COUNT(*)                    AS total_loans,
    SUM(CAST(loan_status AS INT)) AS total_defaults,
    CAST(100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*) AS DECIMAL(6,2)) AS default_rate_pct,
    AVG(debt_to_income_ratio)   AS avg_dti,
    AVG(credit_utilization_ratio) AS avg_credit_util,
    AVG(loan_to_income_ratio)   AS avg_lti,
    AVG(person_income)          AS avg_income,
    AVG(loan_amnt)              AS avg_loan_amount
FROM dbo.vw_loan_enriched
GROUP BY dti_group

UNION ALL

-- ── Theo nhóm Credit Utilization ─────────────────────────────
SELECT
    'BY_CREDIT_UTIL',
    credit_util_group,
    COUNT(*),
    SUM(CAST(loan_status AS INT)),
    CAST(100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*) AS DECIMAL(6,2)),
    AVG(debt_to_income_ratio),
    AVG(credit_utilization_ratio),
    AVG(loan_to_income_ratio),
    AVG(person_income),
    AVG(loan_amnt)
FROM dbo.vw_loan_enriched
GROUP BY credit_util_group

UNION ALL

-- ── Theo nhóm Loan-to-Income ─────────────────────────────────
SELECT
    'BY_LTI',
    lti_group,
    COUNT(*),
    SUM(CAST(loan_status AS INT)),
    CAST(100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*) AS DECIMAL(6,2)),
    AVG(debt_to_income_ratio),
    AVG(credit_utilization_ratio),
    AVG(loan_to_income_ratio),
    AVG(person_income),
    AVG(loan_amnt)
FROM dbo.vw_loan_enriched
GROUP BY lti_group

UNION ALL

-- ── So sánh tổng hợp các chỉ số tài chính Default vs Non-Default
SELECT
    'FINANCIAL_BY_STATUS',
    loan_status_label,
    COUNT(*),
    SUM(CAST(loan_status AS INT)),
    CAST(100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*) AS DECIMAL(6,2)),
    AVG(debt_to_income_ratio),
    AVG(credit_utilization_ratio),
    AVG(loan_to_income_ratio),
    AVG(person_income),
    AVG(loan_amnt)
FROM dbo.vw_loan_enriched
GROUP BY loan_status_label

UNION ALL

-- ── Scorecard tài chính theo Risk Category ───────────────────
SELECT
    'BY_RISK_CATEGORY',
    risk_category,
    COUNT(*),
    SUM(CAST(loan_status AS INT)),
    CAST(100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*) AS DECIMAL(6,2)),
    AVG(debt_to_income_ratio),
    AVG(credit_utilization_ratio),
    AVG(loan_to_income_ratio),
    AVG(person_income),
    AVG(loan_amnt)
FROM dbo.vw_loan_enriched
GROUP BY risk_category;
GO
