USE [NovaBank]
GO
/****** Object:  View [dbo].[vw_geo_map]    Script Date: 24/05/2026 10:07:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- vw_geo_map
-- Tổng hợp theo địa lý để hiển thị bản đồ trong Power BI
-- ============================================================
CREATE   VIEW [dbo].[vw_geo_map] AS
SELECT
    country,
    state,
    city,
    AVG(city_latitude)              AS latitude,
    AVG(city_longitude)             AS longitude,
    COUNT(*)                        AS total_loans,
    SUM(CAST(loan_status AS INT))   AS total_defaults,
    CAST(
        100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*)
    AS DECIMAL(6,2))                AS default_rate_pct,
    SUM(loan_amnt)                  AS total_loan_amount,
    AVG(loan_int_rate)              AS avg_interest_rate,
    SUM(estimated_loss)             AS total_estimated_loss,
    AVG(early_warning_score)        AS avg_warning_score
FROM dbo.vw_loan_enriched
GROUP BY country, state, city;
GO
