USE [NovaBank]
GO
/****** Object:  View [dbo].[vw_summary_early_warning]    Script Date: 24/05/2026 10:07:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- vw_summary_early_warning
-- Phát hiện sớm rủi ro: lịch sử, delinquencies, red zone
-- ============================================================
CREATE   VIEW [dbo].[vw_summary_early_warning] AS

-- ── Theo lịch sử nợ quá hạn (Y/N) ───────────────────────────
SELECT
    'BY_DEFAULT_HISTORY'        AS segment,
    cb_person_default_on_file   AS dimension_value,
    COUNT(*)                    AS total_loans,
    SUM(CAST(loan_status AS INT)) AS total_defaults,
    CAST(100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*) AS DECIMAL(6,2)) AS default_rate_pct,
    AVG(early_warning_score)    AS avg_warning_score,
    SUM(CASE WHEN is_red_zone = 1 THEN 1 ELSE 0 END) AS red_zone_count,
    AVG(past_delinquencies)     AS avg_past_delinquencies,
    AVG(debt_to_income_ratio)   AS avg_dti,
    AVG(credit_utilization_ratio) AS avg_credit_util
FROM dbo.vw_loan_enriched
GROUP BY cb_person_default_on_file

UNION ALL

-- ── Theo nhóm Past Delinquencies ─────────────────────────────
SELECT
    'BY_DELINQUENCY',
    delinquency_group,
    COUNT(*),
    SUM(CAST(loan_status AS INT)),
    CAST(100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*) AS DECIMAL(6,2)),
    AVG(early_warning_score),
    SUM(CASE WHEN is_red_zone = 1 THEN 1 ELSE 0 END),
    AVG(CAST(past_delinquencies AS FLOAT)),
    AVG(debt_to_income_ratio),
    AVG(credit_utilization_ratio)
FROM dbo.vw_loan_enriched
GROUP BY delinquency_group

UNION ALL

-- ── Theo nhóm Credit History Length ─────────────────────────
SELECT
    'BY_CRED_HIST',
    cred_hist_group,
    COUNT(*),
    SUM(CAST(loan_status AS INT)),
    CAST(100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*) AS DECIMAL(6,2)),
    AVG(early_warning_score),
    SUM(CASE WHEN is_red_zone = 1 THEN 1 ELSE 0 END),
    AVG(CAST(past_delinquencies AS FLOAT)),
    AVG(debt_to_income_ratio),
    AVG(credit_utilization_ratio)
FROM dbo.vw_loan_enriched
GROUP BY cred_hist_group

UNION ALL

-- ── Theo Early Warning Score band ────────────────────────────
SELECT
    'BY_WARNING_SCORE',
    CASE
        WHEN early_warning_score = 0            THEN '0_Không rủi ro (0)'
        WHEN early_warning_score BETWEEN 1 AND 3 THEN '1_Chú ý (1-3)'
        WHEN early_warning_score BETWEEN 4 AND 6 THEN '2_Nguy hiểm (4-6)'
        ELSE                                          '3_Cực kỳ nguy hiểm (7+)'
    END,
    COUNT(*),
    SUM(CAST(loan_status AS INT)),
    CAST(100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*) AS DECIMAL(6,2)),
    AVG(early_warning_score),
    SUM(CASE WHEN is_red_zone = 1 THEN 1 ELSE 0 END),
    AVG(CAST(past_delinquencies AS FLOAT)),
    AVG(debt_to_income_ratio),
    AVG(credit_utilization_ratio)
FROM dbo.vw_loan_enriched
GROUP BY
    CASE
        WHEN early_warning_score = 0            THEN '0_Không rủi ro (0)'
        WHEN early_warning_score BETWEEN 1 AND 3 THEN '1_Chú ý (1-3)'
        WHEN early_warning_score BETWEEN 4 AND 6 THEN '2_Nguy hiểm (4-6)'
        ELSE                                          '3_Cực kỳ nguy hiểm (7+)'
    END

UNION ALL

-- ── Red Zone Summary ─────────────────────────────────────────
SELECT
    'RED_ZONE_SUMMARY',
    CASE is_red_zone WHEN 1 THEN 'Red Zone' ELSE 'Normal' END,
    COUNT(*),
    SUM(CAST(loan_status AS INT)),
    CAST(100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*) AS DECIMAL(6,2)),
    AVG(early_warning_score),
    SUM(CASE WHEN is_red_zone = 1 THEN 1 ELSE 0 END),
    AVG(CAST(past_delinquencies AS FLOAT)),
    AVG(debt_to_income_ratio),
    AVG(credit_utilization_ratio)
FROM dbo.vw_loan_enriched
GROUP BY is_red_zone;
GO
