USE [NovaBank]
GO
/****** Object:  View [dbo].[vw_summary_borrower]    Script Date: 24/05/2026 10:07:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- vw_summary_borrower
-- Phân tích người vay: tuổi, thu nhập, nhà ở, học vấn, việc làm
-- ============================================================
CREATE   VIEW [dbo].[vw_summary_borrower] AS

-- ── Theo nhóm tuổi ───────────────────────────────────────────
SELECT
    'BY_AGE'                                                AS segment,
    age_group                                               AS dimension_value,
    COUNT(*)                                                AS total_loans,
    SUM(CAST(loan_status AS INT))                           AS total_defaults,
    CAST(100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*) AS DECIMAL(6,2)) AS default_rate_pct,
    AVG(person_income)                                      AS avg_income,
    AVG(loan_amnt)                                          AS avg_loan_amount,
    AVG(loan_int_rate)                                      AS avg_interest_rate,
    AVG(debt_to_income_ratio)                               AS avg_dti,
    AVG(CAST(person_emp_length AS FLOAT))                   AS avg_emp_length
FROM dbo.vw_loan_enriched
GROUP BY age_group

UNION ALL

-- ── Theo nhóm thu nhập ───────────────────────────────────────
SELECT
    'BY_INCOME',
    income_group,
    COUNT(*),
    SUM(CAST(loan_status AS INT)),
    CAST(100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*) AS DECIMAL(6,2)),
    AVG(person_income),
    AVG(loan_amnt),
    AVG(loan_int_rate),
    AVG(debt_to_income_ratio),
    AVG(CAST(person_emp_length AS FLOAT))
FROM dbo.vw_loan_enriched
GROUP BY income_group

UNION ALL

-- ── Theo home ownership ──────────────────────────────────────
SELECT
    'BY_HOME_OWNERSHIP',
    person_home_ownership,
    COUNT(*),
    SUM(CAST(loan_status AS INT)),
    CAST(100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*) AS DECIMAL(6,2)),
    AVG(person_income),
    AVG(loan_amnt),
    AVG(loan_int_rate),
    AVG(debt_to_income_ratio),
    AVG(CAST(person_emp_length AS FLOAT))
FROM dbo.vw_loan_enriched
GROUP BY person_home_ownership

UNION ALL

-- ── Theo education level ─────────────────────────────────────
SELECT
    'BY_EDUCATION',
    education_level,
    COUNT(*),
    SUM(CAST(loan_status AS INT)),
    CAST(100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*) AS DECIMAL(6,2)),
    AVG(person_income),
    AVG(loan_amnt),
    AVG(loan_int_rate),
    AVG(debt_to_income_ratio),
    AVG(CAST(person_emp_length AS FLOAT))
FROM dbo.vw_loan_enriched
GROUP BY education_level

UNION ALL

-- ── Theo employment type ─────────────────────────────────────
SELECT
    'BY_EMPLOYMENT_TYPE',
    employment_type,
    COUNT(*),
    SUM(CAST(loan_status AS INT)),
    CAST(100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*) AS DECIMAL(6,2)),
    AVG(person_income),
    AVG(loan_amnt),
    AVG(loan_int_rate),
    AVG(debt_to_income_ratio),
    AVG(CAST(person_emp_length AS FLOAT))
FROM dbo.vw_loan_enriched
GROUP BY employment_type

UNION ALL

-- ── Theo gender ──────────────────────────────────────────────
SELECT
    'BY_GENDER',
    gender,
    COUNT(*),
    SUM(CAST(loan_status AS INT)),
    CAST(100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*) AS DECIMAL(6,2)),
    AVG(person_income),
    AVG(loan_amnt),
    AVG(loan_int_rate),
    AVG(debt_to_income_ratio),
    AVG(CAST(person_emp_length AS FLOAT))
FROM dbo.vw_loan_enriched
GROUP BY gender

UNION ALL

-- ── Theo marital status ──────────────────────────────────────
SELECT
    'BY_MARITAL',
    marital_status,
    COUNT(*),
    SUM(CAST(loan_status AS INT)),
    CAST(100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*) AS DECIMAL(6,2)),
    AVG(person_income),
    AVG(loan_amnt),
    AVG(loan_int_rate),
    AVG(debt_to_income_ratio),
    AVG(CAST(person_emp_length AS FLOAT))
FROM dbo.vw_loan_enriched
GROUP BY marital_status;
GO
