USE [NovaBank]
GO
/****** Object:  View [dbo].[vw_summary_loan_risk]    Script Date: 24/05/2026 10:07:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- vw_summary_loan_risk
-- Phân tích khoản vay: grade, intent, lãi suất, kỳ hạn, quy mô
-- ============================================================
CREATE   VIEW [dbo].[vw_summary_loan_risk] AS

-- ── Ma trận Grade × Intent ───────────────────────────────────
SELECT
    'GRADE_X_INTENT'            AS segment,
    loan_grade                  AS dim1,
    loan_intent                 AS dim2,
    COUNT(*)                    AS total_loans,
    SUM(CAST(loan_status AS INT)) AS total_defaults,
    CAST(100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*) AS DECIMAL(6,2)) AS default_rate_pct,
    AVG(loan_amnt)              AS avg_loan_amount,
    AVG(loan_int_rate)          AS avg_interest_rate,
    SUM(loan_amnt)              AS total_loan_amount
FROM dbo.vw_loan_enriched
GROUP BY loan_grade, loan_intent

UNION ALL

-- ── Theo kỳ hạn vay ──────────────────────────────────────────
SELECT
    'BY_TERM',
    CAST(loan_term_months AS VARCHAR),
    NULL,
    COUNT(*),
    SUM(CAST(loan_status AS INT)),
    CAST(100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*) AS DECIMAL(6,2)),
    AVG(loan_amnt),
    AVG(loan_int_rate),
    SUM(loan_amnt)
FROM dbo.vw_loan_enriched
GROUP BY loan_term_months

UNION ALL

-- ── Theo nhóm lãi suất ───────────────────────────────────────
SELECT
    'BY_INTEREST_RATE_GROUP',
    interest_rate_group,
    NULL,
    COUNT(*),
    SUM(CAST(loan_status AS INT)),
    CAST(100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*) AS DECIMAL(6,2)),
    AVG(loan_amnt),
    AVG(loan_int_rate),
    SUM(loan_amnt)
FROM dbo.vw_loan_enriched
GROUP BY interest_rate_group

UNION ALL

-- ── Theo nhóm quy mô khoản vay ───────────────────────────────
SELECT
    'BY_LOAN_SIZE',
    loan_amount_group,
    NULL,
    COUNT(*),
    SUM(CAST(loan_status AS INT)),
    CAST(100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*) AS DECIMAL(6,2)),
    AVG(loan_amnt),
    AVG(loan_int_rate),
    SUM(loan_amnt)
FROM dbo.vw_loan_enriched
GROUP BY loan_amount_group

UNION ALL

-- ── Theo Loan Grade (tổng hợp) ───────────────────────────────
SELECT
    'BY_GRADE_SUMMARY',
    loan_grade,
    grade_risk_label,
    COUNT(*),
    SUM(CAST(loan_status AS INT)),
    CAST(100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*) AS DECIMAL(6,2)),
    AVG(loan_amnt),
    AVG(loan_int_rate),
    SUM(loan_amnt)
FROM dbo.vw_loan_enriched
GROUP BY loan_grade, grade_risk_label

UNION ALL

-- ── So sánh lãi suất Default vs Non-Default ──────────────────
SELECT
    'INTEREST_BY_STATUS',
    loan_status_label,
    NULL,
    COUNT(*),
    SUM(CAST(loan_status AS INT)),
    CAST(100.0 * SUM(CAST(loan_status AS INT)) / COUNT(*) AS DECIMAL(6,2)),
    AVG(loan_amnt),
    AVG(loan_int_rate),
    SUM(loan_amnt)
FROM dbo.vw_loan_enriched
GROUP BY loan_status_label;
GO
