USE [NovaBank]
GO
/****** Object:  View [dbo].[vw_loan_enriched]    Script Date: 24/05/2026 10:07:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- VIEW TRUNG TÂM: vw_loan_enriched (Đã sửa lỗi Data Type)
-- Thêm tất cả cột phân loại và risk scoring
-- ============================================================
CREATE   VIEW [dbo].[vw_loan_enriched] AS
SELECT
    -- ── Cột gốc ──────────────────────────────────────────────
    client_ID,
    person_age,
    person_income,
    person_home_ownership,
    person_emp_length,
    loan_intent,
    loan_grade,
    loan_amnt,
    loan_int_rate,
    loan_status,
    loan_percent_income,
    cb_person_default_on_file,
    cb_person_cred_hist_length,
    gender,
    marital_status,
    education_level,
    country,
    state,
    city,
    city_latitude,
    city_longitude,
    employment_type,
    loan_term_months,
    loan_to_income_ratio,
    other_debt,
    debt_to_income_ratio,
    open_accounts,
    credit_utilization_ratio,
    past_delinquencies,

    -- ── Nhãn loan_status ─────────────────────────────────────
    CASE loan_status
        WHEN 1 THEN 'Default'
        ELSE 'Non-Default'
    END AS loan_status_label,

    -- ── Nhóm tuổi ────────────────────────────────────────────
    CASE
        WHEN person_age < 25 THEN '1_Dưới 25'
        WHEN person_age < 35 THEN '2_25-34'
        WHEN person_age < 45 THEN '3_35-44'
        WHEN person_age < 55 THEN '4_45-54'
        ELSE                      '5_55+'
    END AS age_group,

    -- ── Nhóm thu nhập ────────────────────────────────────────
    CASE
        WHEN person_income < 30000  THEN '1_Dưới 30K'
        WHEN person_income < 60000  THEN '2_30K-60K'
        WHEN person_income < 100000 THEN '3_60K-100K'
        WHEN person_income < 150000 THEN '4_100K-150K'
        ELSE                             '5_Trên 150K'
    END AS income_group,

    -- ── Nhóm khoản vay ───────────────────────────────────────
    CASE
        WHEN loan_amnt < 5000  THEN '1_Dưới 5K'
        WHEN loan_amnt < 15000 THEN '2_5K-15K'
        WHEN loan_amnt < 30000 THEN '3_15K-30K'
        WHEN loan_amnt < 50000 THEN '4_30K-50K'
        ELSE                        '5_Trên 50K'
    END AS loan_amount_group,

    -- ── Nhóm lãi suất ────────────────────────────────────────
    CASE
        WHEN loan_int_rate < 8  THEN '1_Thấp (<8%)'
        WHEN loan_int_rate < 12 THEN '2_Trung bình (8-12%)'
        WHEN loan_int_rate < 16 THEN '3_Cao (12-16%)'
        ELSE                         '4_Rất cao (>16%)'
    END AS interest_rate_group,

    -- ── Nhóm DTI (Debt-to-Income) ────────────────────────────
    CASE
        WHEN debt_to_income_ratio < 0.20 THEN '1_Tốt (<20%)'
        WHEN debt_to_income_ratio < 0.35 THEN '2_Ổn (20-35%)'
        WHEN debt_to_income_ratio < 0.50 THEN '3_Chú ý (35-50%)'
        ELSE                                  '4_Nguy hiểm (>50%)'
    END AS dti_group,

    -- ── Nhóm Credit Utilization ──────────────────────────────
    CASE
        WHEN credit_utilization_ratio < 0.30 THEN '1_Tốt (<30%)'
        WHEN credit_utilization_ratio < 0.50 THEN '2_Ổn (30-50%)'
        WHEN credit_utilization_ratio < 0.70 THEN '3_Cẩn thận (50-70%)'
        ELSE                                      '4_Nguy hiểm (>70%)'
    END AS credit_util_group,

    -- ── Nhóm Loan-to-Income ──────────────────────────────────
    CASE
        WHEN loan_to_income_ratio < 0.10 THEN '1_<10%'
        WHEN loan_to_income_ratio < 0.20 THEN '2_10-20%'
        WHEN loan_to_income_ratio < 0.35 THEN '3_20-35%'
        WHEN loan_to_income_ratio < 0.50 THEN '4_35-50%'
        ELSE                                  '5_>50%'
    END AS lti_group,

    -- ── Nhóm Past Delinquencies ──────────────────────────────
    CASE
        WHEN past_delinquencies = 0            THEN '1_Không có'
        WHEN past_delinquencies = 1            THEN '2_1 lần'
        WHEN past_delinquencies = 2            THEN '3_2 lần'
        WHEN past_delinquencies BETWEEN 3 AND 4 THEN '4_3-4 lần'
        ELSE                                        '5_5+ lần'
    END AS delinquency_group,

    -- ── Nhóm Credit History Length ───────────────────────────
    CASE
        WHEN cb_person_cred_hist_length < 3  THEN '1_<3 năm'
        WHEN cb_person_cred_hist_length < 6  THEN '2_3-6 năm'
        WHEN cb_person_cred_hist_length < 10 THEN '3_6-10 năm'
        WHEN cb_person_cred_hist_length < 15 THEN '4_10-15 năm'
        ELSE                                      '5_15+ năm'
    END AS cred_hist_group,

    -- ── Nhóm Loan Grade (có thứ tự và mức rủi ro) ────────────
    CASE loan_grade
        WHEN 'A' THEN 'Rất Thấp'
        WHEN 'B' THEN 'Thấp'
        WHEN 'C' THEN 'Trung Bình'
        WHEN 'D' THEN 'Cao'
        WHEN 'E' THEN 'Rất Cao'
        WHEN 'F' THEN 'Cực Cao'
        WHEN 'G' THEN 'Cực Kỳ Cao'
    END AS grade_risk_label,

    -- ── Early Warning Score (0-10 điểm) ──────────────────────
    (
        -- Lịch sử nợ (max 3 điểm) - Đã sửa lỗi data type
        CASE WHEN CAST(cb_person_default_on_file AS VARCHAR(5)) IN ('1', 'Y', 'True', 'true') THEN 3 ELSE 0 END
        -- Past delinquencies (max 3 điểm)
      + CASE
            WHEN past_delinquencies >= 5 THEN 3
            WHEN past_delinquencies >= 3 THEN 2
            WHEN past_delinquencies >= 1 THEN 1
            ELSE 0
        END
        -- DTI (max 2 điểm)
      + CASE
            WHEN debt_to_income_ratio > 0.50 THEN 2
            WHEN debt_to_income_ratio > 0.35 THEN 1
            ELSE 0
        END
        -- Credit Utilization (max 2 điểm)
      + CASE
            WHEN credit_utilization_ratio > 0.70 THEN 2
            WHEN credit_utilization_ratio > 0.50 THEN 1
            ELSE 0
        END
    ) AS early_warning_score,

    -- ── Risk Category tổng hợp ────────────────────────────────
    CASE
        WHEN (
            CASE WHEN CAST(cb_person_default_on_file AS VARCHAR(5)) IN ('1', 'Y', 'True', 'true') THEN 3 ELSE 0 END
          + CASE WHEN past_delinquencies >= 5 THEN 3 WHEN past_delinquencies >= 3 THEN 2 WHEN past_delinquencies >= 1 THEN 1 ELSE 0 END
          + CASE WHEN debt_to_income_ratio > 0.50 THEN 2 WHEN debt_to_income_ratio > 0.35 THEN 1 ELSE 0 END
          + CASE WHEN credit_utilization_ratio > 0.70 THEN 2 WHEN credit_utilization_ratio > 0.50 THEN 1 ELSE 0 END
        ) >= 7 THEN 'Cao'
        WHEN (
            CASE WHEN CAST(cb_person_default_on_file AS VARCHAR(5)) IN ('1', 'Y', 'True', 'true') THEN 3 ELSE 0 END
          + CASE WHEN past_delinquencies >= 5 THEN 3 WHEN past_delinquencies >= 3 THEN 2 WHEN past_delinquencies >= 1 THEN 1 ELSE 0 END
          + CASE WHEN debt_to_income_ratio > 0.50 THEN 2 WHEN debt_to_income_ratio > 0.35 THEN 1 ELSE 0 END
          + CASE WHEN credit_utilization_ratio > 0.70 THEN 2 WHEN credit_utilization_ratio > 0.50 THEN 1 ELSE 0 END
        ) >= 4 THEN 'Trung Bình'
        ELSE 'Thấp'
    END AS risk_category,

    -- ── Cờ Red Zone (người vay đặc biệt nguy hiểm) ───────────
    CASE
        WHEN CAST(cb_person_default_on_file AS VARCHAR(5)) IN ('1', 'Y', 'True', 'true')
         AND past_delinquencies > 1
         AND debt_to_income_ratio > 0.40
        THEN 1 ELSE 0
    END AS is_red_zone,

    -- ── Thu nhập lãi ước tính ─────────────────────────────────
    loan_amnt * loan_int_rate / 100.0 AS estimated_interest,

    -- ── Tổn thất ước tính nếu default (giả định recovery 40%) ─
    CASE WHEN loan_status = 1
         THEN loan_amnt * 0.60
         ELSE 0
    END AS estimated_loss

FROM dbo.Credit_Risk_Dataset;
GO
